pydantic_core==2.33.2
pexpect==4.9.0
Pygments==2.19.1
pandas==2.2.3
pydantic==2.11.4
idna==3.10
setuptools==80.8.0
traitlets==5.14.3
numpy==2.2.6
ptyprocess==0.7.0
torch==2.7.0
pytz==2025.2
typing-inspection==0.4.1
parso==0.8.4
yarl==1.20.0
pip==25.1.1
platformdirs==4.3.8
requests==2.32.3
attrs==25.3.0
markdown-it-py==3.0.0
frozenlist==1.6.0
GitPython==3.1.44
networkx==3.4.2
trl==0.17.0
jedi==0.19.2
charset-normalizer==3.4.2
asttokens==3.0.0
tqdm==4.67.1
protobuf==6.31.0
tzdata==2025.2
ipython_pygments_lexers==1.1.1
setproctitle==1.3.6
typing_extensions==4.13.2
decorator==5.2.1
tokenizers==0.21.1
transformers==4.52.3
executing==2.2.0
stack-data==0.6.3
ipython==9.2.0
sympy==1.14.0
datasets==3.6.0
pathspec==0.12.1
multiprocess==0.70.16
xxhash==3.5.0
certifi==2025.4.26
regex==2024.11.6
multidict==6.4.4
gitdb==4.0.12
psutil==7.0.0
mdurl==0.1.2
python-dateutil==2.9.0.post0
mpmath==1.3.0
wcwidth==0.2.13
prompt_toolkit==3.0.51
huggingface-hub==0.31.4
click==8.2.1
packaging==25.0
urllib3==2.4.0
Jinja2==3.1.6
wheel==0.45.1
filelock==3.18.0
dill==0.3.8
pure_eval==0.2.3
aiohttp==3.11.18
fsspec==2025.3.0
docker-pycreds==0.4.0
aiohappyeyeballs==2.6.1
sentry-sdk==2.29.1
propcache==0.3.1
aiosignal==1.3.2
PyYAML==6.0.2
rich==14.0.0
matplotlib-inline==0.1.7
smmap==5.0.2
safetensors==0.5.3
ipdb==0.13.13
wandb==0.19.11
annotated-types==0.7.0
accelerate==1.7.0
mypy_extensions==1.1.0
six==1.17.0
black==25.1.0
pyarrow==20.0.0
MarkupSafe==3.0.2
